@import "styles.css";

.options {
  margin: 2rem 0 4rem;
}
.options .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.options .card {
  position: relative;
  width: 33%;
  z-index: 99;
  margin: 0.75rem;
}

.options .text {
  font-family: "Jost", sans-serif;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 3rem 0 2rem;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.897), transparent);
}
.options h4 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  white-space: nowrap;
  transform: translateY(1.5rem);
  cursor: default;
}
.options a {
  color: var(--light-gold);
  border-bottom: solid 2px var(--light-gold);
  font-weight: bold;
  transition: 0.3s;
  opacity: 0;
}
.options .card:hover h4,
.options .card:hover a {
  transform: translateY(0) !important;
  opacity: 1;
}
.options img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .options .container {
    flex-wrap: wrap;
    justify-content: start;
  }
  .options .card {
    width: 45%;
  }
}

@media (max-width: 560px) {
  .options .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .options .card {
    width: 85%;
  }
}
